<footer class="footer">

    <div class="footer-container">

      <div class="footer-brand">
  
        <h4 class="footer-logo">WanderLust</h4>
  
        <p class="copyright">
          © copyright WanderLust 2026. All rights reserved.
        </p>
  
        <div class="footer-social">
  
          <a href="https://github.com" target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>
  
          <a href="https://linkedin.com" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
          </a>
  
        </div>
  
      </div>

      <div class="footer-column">
        <h5>Stays</h5>
      
        <a href="/listings?search=Pune">Pune</a>
        <a href="/listings?search=Mumbai">Mumbai</a>
        <a href="/listings?search=Chennai">Chennai</a>
        <a href="/listings?search=Bangalore">Bangalore</a>
        <a href="/listings?search=Delhi">Delhi</a>
      
      </div>

      <div class="footer-column">
        <h5>Pages</h5>
        <a href="/listings">All Listings</a>
        <a href="/listings/new">Add Your Airbnb</a>
        <a href="#">Contant us</a>
        <a href="#">File Complain</a>
        <a href="#">Blog</a>
      </div>
  
      <div class="footer-column">
        <h5>Legal</h5>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
        <a href="#">Cookie Policy</a>
      </div>
  
      <div class="footer-column">
        <h5>Register</h5>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
        <a href="#">Forgot Password</a>
      </div>
  
    </div>
  
  </footer>