<div class="mobile-nav">
<nav class="navbar navbar-expand-lg border-bottom sticky-top custom-navbar">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="navbar-brand brand-logo" href="/">
      WanderLust
    </a>

    <!-- Mobile Toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">

      <!-- Center Section -->
      <div class="center-nav">

        <a class="nav-link explore-link" href="/listings">Explore</a>

        <form action="/listings" method="GET" class="search-form">
          <input
            class="search-input"
            type="text"
            name="search"
            placeholder="Search Destinations"
            required
          />

          <button class="search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>

        <a class="add-listing-btn" href="/listings/new">
          Add Your AIRBNB
        </a>

        <li class="nav-item theme-toggle-container">
          <label class="theme-switch">
              <input type="checkbox" id="theme-toggle">
      
              <span class="slider">
      
                  <i class="fa-solid fa-sun sun"></i>
                  <i class="fa-solid fa-moon moon"></i>
      
              </span>
          </label>
      </li>
      </div>

      <!-- Right Section -->
      <div class="navbar-nav right-nav">

        <% if(!currentUser){ %>
          <a class="nav-link fw-bold" href="/signup">Sign Up</a>
          <a class="nav-link fw-bold" href="/login">Login</a>
        <% } %>

        <% if(currentUser){ %>
          <form action="/logout" >
            <button class="logout-btn">Log Out</button>
          </form>
        <% } %>

      </div>

    </div>
  </div>
</nav>
</div>